    html {
      height: 100%;
    }

    .content-tools {
        background-color: black;
    }

    body {
       height: 100%;
       background-color:white;
       margin:0px;
       padding: 0px;
    }

    header {
        background-color: rgb(0,27,97);
        display: block;
        width: 100%;
        padding: 20px 0px 20px 0px;
        text-align: center;
        border-bottom: 2px solid rgb(218,223,225);
        box-shadow: inset 0 -3px 0 0 white;
    }

    h1 {
        color: white;
        font-size: 50px;
        font-family: 'Open Sans', Helvetica, sans-serif;
        margin: 0px;
        padding: 0px 150px 0px 150px;
    }

    nav {
        display: inline-block;
        color:;
        width:15%;
        height: 100%;
        margin-right: -6px;
        vertical-align: top;
        background-color: white;
        border-right: 2px solid rgb(218,223,225);
        min-width: 150px;

    }
    nav ul{
        list-style-type: none;
        padding-left: 10px;


    }
    nav a {
        list-style-type: none;
        text-decoration: none;
        color: black;
        font: 16px Open Sans, Helvetica, sans-serif;
        font-weight: bold;
    }

    li {
        margin-bottom: 3px;
    }

    section {

        display: inline-block;
        background-color: white;
        color: rgb(0,27,97);
        font: 16px Open Sans, Helvetica, sans-serif;
        margin-top: 6px;
        margin-left: 12px;
        margin-right: -6px;
        position:absolute;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    p {
        margin-top: 0px;
        font: 16px Open Sans, Helvetica, sans-serif;
    }

    article {

        padding-top: 7px;
        padding-bottom: 7px;
        background-color:white;
        padding-left: 5px;
    }
